.category-item {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
}

.category:not(.selected):hover {
  background-color: #e6e6e6;
  color: #000;
  cursor: pointer;
}

.category.selected {
  background-color: #0f548c;
  color: #fff;
}