.filter-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.filter-item {
  display: flex;
  justify-content: space-between;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 18px 8px;
  font-size: 18px;
}

.filter-amount {
  font-size: 28px;
  margin-top: 10px;
}

.filter-item:not(.selected):hover {
  opacity: .6;
  color: #000;
  cursor: pointer;
}