.filter-panel {
  flex-grow: 1;
}

.filter-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.filter-item {
  display: flex;
  justify-content: space-between;
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 5px;
}

.filter-item.selected {
  background-color: #0f548c;
  color: #fff;
}