body {
  font-size: 14px;
}

.container {
  padding: 30px;
  background-color: #f0f0f0;
}

.todo-item-text {
  font-style: italic;
}

.todo-item,
.input-new-task {
  padding: 8px;
  background-color: #fff;
  border: none;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .1);
  width: 100%;
  border-radius: 3px;
  margin-bottom: 8px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
}