body {
  font-size: 14px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.main-content {
  flex-grow: 2;
  padding: 30px;
  background-color: #f0f0f0;
  overflow: auto;
}

.todo-item-text {
  font-style: italic;
}

.todo-item,
.input-new-task {
  padding: 8px;
  background-color: #fff;
  border: none;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .1);
  width: 100%;
  border-radius: 3px;
  margin-bottom: 8px;
}

.todo-item:hover {
  background-color: #1c8be6;
  cursor: pointer;
  color: #fff;
}

.input-new-task {
  padding: 16px;  
  font-size: 18px;
  margin-bottom: 16px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
}